{%- liquid
  assign height = section.settings.bar_height | default: '3rem'
  assign offset = section.settings.nav_offset | default: 0
  assign autoplay = section.settings.enable_autoplay | default: false
  assign autoplay_interval = section.settings.autoplay_interval | default: 5000
-%}

<link
  rel='stylesheet'
  href='{{ "swiffy-slider.css" | asset_url }}'
>
<style>
  {% comment %} SHOPIFY Editor settings {% endcomment %}
  .slider-nav.with-offset {
    left: {{ offset }}%;
  }
  .slider-nav.slider-nav-next.with-offset {
    right: {{ offset }}%;
    left: unset;
  }
  {% comment %} SHOPIFY Editor settings END {% endcomment %}

  {% comment %} SWIFFY Overrides {% endcomment %}
  .slider-nav {
    filter: none;
  }
  .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: {{ height }}
  }
  .slide>div {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
  }
  {% comment %} .icon-arrow {
    margin-left: 1rem
  } {% endcomment %}
  {% comment %} SWIFFY Overrides end {% endcomment %}
</style>

<div
  {% if autoplay %}
    data-slider-nav-autoplay-interval='{{ autoplay_interval }}'
  {% endif %}
  class='swiffy-slider{% if autoplay %} slider-nav-autoplay slider-nav-autopause{% endif %} slider-item-nogap slider-adaptive-color slider-nav-sm{% unless section.settings.animation_option == 'none' %} slider-nav-animation {{ section.settings.animation_option }}{% endunless %}{% unless section.settings.animation_speed == 'none' %} {{ section.settings.animation_speed }}{% endunless %}'
>
  <ul class='slider-container'>
    {%- for block in blocks -%}
      <div
        data-fontcolor='{{ block.settings.fontcolor }}'
        style='background-color:{{ block.settings.bgcolor }}; color: {{ block.settings.fontcolor }}'
        class='slide'
      >
        <div>
          <p>
            {{ block.settings.text | escape }}
          </p>
          {%- if block.settings.link != blank -%}
            <span>
              <a href='{{ block.settings.link }}'>
                {% render 'icon-arrow' %}
              </a>
            </span>
          {%- endif -%}
        </div>
      </div>
    {%- endfor -%}
  </ul>

  {% if blocks.size > 1 %}
    <button
      type='button'
      class='slider-nav{% if offset > 0 %} with-offset{% endif %}'
    ></button>
    <button
      type='button'
      class='slider-nav slider-nav-next{% if offset > 0 %} with-offset{% endif %}'
    ></button>
  {% endif %}

  <div class='slider-indicators hidden'>
    {% for block in blocks %}
      <button
        {% if forloop.first %}
          class='active'
        {% endif %}
      ></button>
    {% endfor %}
  </div>
</div>

<script
  src='{{ "../assets/swiffy-slider.js" | asset_url }}'
  defer='defer'
></script>
