<nav class=' twcss-border-gray-200'>
  <div class='twcss-flex twcss-items-center twcss-justify-between twcss-max-w-screen-xl twcss-mx-auto twcss-flex-wrap twcss-p-4'>
    <div
      id='mega-menu'
      class='twcss-items-center twcss-justify-between twcss-hidden twcss-w-full md:twcss-flex md:twcss-w-auto md:twcss-order-1 twcss-bg-background'
    >
      <ul class='twcss-flex twcss-flex-col twcss-mt-4 twcss-font-medium md:twcss-flex-row md:twcss-mt-0 md:twcss-space-x-8 rtl:twcss-space-x-reverse'>
        {%- for link in section.settings.menu.links -%}
          <li>
            {%- if link.links != blank -%}
              <button
                id='mega-menu-dropdown-button'
                data-dropdown-toggle='mega-menu-dropdown'
                class='twcss-flex twcss-items-center twcss-justify-between twcss-w-full twcss-py-2 twcss-px-3 twcss-font-medium twcss-border-b twcss-border-gray-100 md:twcss-w-auto hover:twcss-bg-gray-50 md:hover:twcss-bg-transparent md:twcss-border-0 md:hover:twcss-text-blue-600 md:twcss-p-0  md:dark:hover:twcss-text-blue-500 dark:hover:twcss-bg-gray-700 dark:hover:twcss-text-blue-500 md:dark:hover:twcss-bg-transparent dark:twcss-border-gray-700'
              >
                {{- link.title | escape -}}
                <svg
                  class='twcss-w-2.5 twcss-h-2.5 twcss-ms-3'
                  aria-hidden='true'
                  xmlns='http://www.w3.org/2000/svg'
                  fill='none'
                  viewBox='0 0 10 6'
                >
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
              </button>
              <div
                id='mega-menu-dropdown'
                class='twcss-absolute twcss-z-10 twcss-grid twcss-w-auto twcss-grid-cols-2 twcss-text-sm twcss-bg-foreground twcss-border twcss-border-gray-100 twcss-rounded-lg twcss-shadow-md dark:twcss-border-gray-700 md:twcss-grid-cols-3 twcss-hidden'
              >
                <div class='twcss-p-4 twcss-pb-0 twcss-text-gray-900 md:twcss-pb-4 dark:twcss-text-white'>
                  <ul class='twcss-space-y-4' aria-labelledby='mega-menu-dropdown-button'>
                    {%- for childlink in link.links -%}
                      <li>
                        <a
                          href='{{ childlink.url }}'
                          class='twcss-text-gray-500 dark:twcss-text-gray-400 hover:twcss-text-blue-600 dark:hover:twcss-text-blue-500'
                        >
                          {{ childlink.title | escape }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              </div>
            {%- else -%}
              <a
                href='{{ link.url }}'
                class='twcss-block twcss-py-2 twcss-px-3 twcss-border-b twcss-border-gray-100 hover:twcss-bg-gray-50 md:hover:twcss-bg-transparent md:twcss-border-0 md:hover:twcss-text-blue-600 md:twcss-p-0 dark:twcss-text-white md:dark:hover:twcss-text-blue-500 dark:hover:twcss-bg-gray-700 dark:hover:twcss-text-blue-500 md:dark:hover:twcss-bg-transparent dark:twcss-border-gray-700'
              >
                {{- link.title | escape -}}
              </a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</nav>

{% comment %}
  <nav class="twcss-bg-white twcss-border-gray-200 dark:twcss-bg-gray-900">
    <div class="twcss-flex twcss-flex-wrap twcss-items-center twcss-justify-between twcss-max-w-screen-xl twcss-mx-auto twcss-p-4">
      <a href="https://flowbite.com" class="twcss-flex twcss-items-center twcss-space-x-3 rtl:twcss-space-x-reverse">
        <img src="https://flowbite.com/docs/images/logo.svg" class="twcss-h-8" alt="Flowbite Logo">
        <span class="twcss-self-center twcss-text-2xl twcss-font-semibold twcss-whitespace-nowrap dark:twcss-text-white"
          >Flowbite</span
        >
      </a>
      <div class="twcss-flex twcss-items-center md:twcss-order-2 twcss-space-x-1 md:twcss-space-x-2 rtl:twcss-space-x-reverse">
        <a
          href="#"
          class="twcss-text-gray-800 dark:twcss-text-white hover:twcss-bg-gray-50 focus:twcss-ring-4 focus:twcss-ring-gray-300 twcss-font-medium twcss-rounded-lg twcss-text-sm twcss-px-4 twcss-py-2 md:twcss-px-5 md:twcss-py-2.5 dark:hover:twcss-bg-gray-700 focus:twcss-outline-none dark:focus:twcss-ring-gray-800"
          >Login</a
        >
        <a
          href="#"
          class="twcss-text-white twcss-bg-blue-700 hover:twcss-bg-blue-800 focus:twcss-ring-4 focus:twcss-ring-blue-300 twcss-font-medium twcss-rounded-lg twcss-text-sm twcss-px-4 twcss-py-2 md:twcss-px-5 md:twcss-py-2.5 dark:twcss-bg-blue-600 dark:hover:twcss-bg-blue-700 focus:twcss-outline-none dark:focus:twcss-ring-blue-800"
          >Sign up</a
        >
        <button
          data-collapse-toggle="mega-menu"
          type="button"
          class="twcss-inline-flex twcss-items-center twcss-p-2 twcss-w-10 twcss-h-10 twcss-justify-center twcss-text-sm twcss-text-gray-500 twcss-rounded-lg md:twcss-hidden hover:twcss-bg-gray-100 focus:twcss-outline-none focus:twcss-ring-2 focus:twcss-ring-gray-200 dark:twcss-text-gray-400 dark:hover:twcss-bg-gray-700 dark:focus:twcss-ring-gray-600"
          aria-controls="mega-menu"
          aria-expanded="false"
        >
          <span class="twcss-sr-only">Open main menu</span>
          <svg
            class="twcss-w-5 twcss-h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>
      </div>
      <div
        id="mega-menu"
        class="twcss-items-center twcss-justify-between twcss-hidden twcss-w-full md:twcss-flex md:twcss-w-auto md:twcss-order-1"
      >
        <ul class="twcss-flex twcss-flex-col twcss-mt-4 twcss-font-medium md:twcss-flex-row md:twcss-mt-0 md:twcss-space-x-8 rtl:twcss-space-x-reverse">
          <li>
            <a
              href="#"
              class="twcss-block twcss-py-2 twcss-px-3 twcss-text-blue-600 twcss-border-b twcss-border-gray-100 hover:twcss-bg-gray-50 md:hover:twcss-bg-transparent md:twcss-border-0 md:hover:twcss-text-blue-600 md:twcss-p-0 dark:twcss-text-blue-500 md:dark:hover:twcss-text-blue-500 dark:hover:twcss-bg-gray-700 dark:hover:twcss-text-blue-500 md:dark:hover:twcss-bg-transparent dark:twcss-border-gray-700"
              aria-current="page"
              >Home</a
            >
          </li>
          <li>
            <button
              id="mega-menu-dropdown-button"
              data-dropdown-toggle="mega-menu-dropdown"
              class="twcss-flex twcss-items-center twcss-justify-between twcss-w-full twcss-py-2 twcss-px-3 twcss-font-medium twcss-text-gray-900 twcss-border-b twcss-border-gray-100 md:twcss-w-auto hover:twcss-bg-gray-50 md:hover:twcss-bg-transparent md:twcss-border-0 md:hover:twcss-text-blue-600 md:twcss-p-0 dark:twcss-text-white md:dark:hover:twcss-text-blue-500 dark:hover:twcss-bg-gray-700 dark:hover:twcss-text-blue-500 md:dark:hover:twcss-bg-transparent dark:twcss-border-gray-700"
            >
              Company
              <svg
                class="twcss-w-2.5 twcss-h-2.5 twcss-ms-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
              </svg>
            </button>
            <div
              id="mega-menu-dropdown"
              class="twcss-absolute twcss-z-10 twcss-grid twcss-w-auto twcss-grid-cols-2 twcss-text-sm twcss-bg-white twcss-border twcss-border-gray-100 twcss-rounded-lg twcss-shadow-md dark:twcss-border-gray-700 md:twcss-grid-cols-3 dark:twcss-bg-gray-700 twcss-hidden"
            >
              <div class="twcss-p-4 twcss-pb-0 twcss-text-gray-900 md:twcss-pb-4 dark:twcss-text-white">
                <ul class="twcss-space-y-4" aria-labelledby="mega-menu-dropdown-button">
                  <li>
                    <a
                      href="#"
                      class="twcss-text-gray-500 dark:twcss-text-gray-400 hover:twcss-text-blue-600 dark:hover:twcss-text-blue-500"
                    >
                      About Us
                    </a>
                  </li>
                  <li>
                    <a
                      href="#"
                      class="twcss-text-gray-500 dark:twcss-text-gray-400 hover:twcss-text-blue-600 dark:hover:twcss-text-blue-500"
                    >
                      Library
                    </a>
                  </li>
                  <li>
                    <a
                      href="#"
                      class="twcss-text-gray-500 dark:twcss-text-gray-400 hover:twcss-text-blue-600 dark:hover:twcss-text-blue-500"
                    >
                      Resources
                    </a>
                  </li>
                  <li>
                    <a
                      href="#"
                      class="twcss-text-gray-500 dark:twcss-text-gray-400 hover:twcss-text-blue-600 dark:hover:twcss-text-blue-500"
                    >
                      Pro Version
                    </a>
                  </li>
                </ul>
              </div>
              <div class="twcss-p-4 twcss-pb-0 twcss-text-gray-900 md:twcss-pb-4 dark:twcss-text-white">
                <ul class="twcss-space-y-4">
                  <li>
                    <a
                      href="#"
                      class="twcss-text-gray-500 dark:twcss-text-gray-400 hover:twcss-text-blue-600 dark:hover:twcss-text-blue-500"
                    >
                      Blog
                    </a>
                  </li>
                  <li>
                    <a
                      href="#"
                      class="twcss-text-gray-500 dark:twcss-text-gray-400 hover:twcss-text-blue-600 dark:hover:twcss-text-blue-500"
                    >
                      Newsletter
                    </a>
                  </li>
                  <li>
                    <a
                      href="#"
                      class="twcss-text-gray-500 dark:twcss-text-gray-400 hover:twcss-text-blue-600 dark:hover:twcss-text-blue-500"
                    >
                      Playground
                    </a>
                  </li>
                  <li>
                    <a
                      href="#"
                      class="twcss-text-gray-500 dark:twcss-text-gray-400 hover:twcss-text-blue-600 dark:hover:twcss-text-blue-500"
                    >
                      License
                    </a>
                  </li>
                </ul>
              </div>
              <div class="twcss-p-4">
                <ul class="twcss-space-y-4">
                  <li>
                    <a
                      href="#"
                      class="twcss-text-gray-500 dark:twcss-text-gray-400 hover:twcss-text-blue-600 dark:hover:twcss-text-blue-500"
                    >
                      Contact Us
                    </a>
                  </li>
                  <li>
                    <a
                      href="#"
                      class="twcss-text-gray-500 dark:twcss-text-gray-400 hover:twcss-text-blue-600 dark:hover:twcss-text-blue-500"
                    >
                      Support Center
                    </a>
                  </li>
                  <li>
                    <a
                      href="#"
                      class="twcss-text-gray-500 dark:twcss-text-gray-400 hover:twcss-text-blue-600 dark:hover:twcss-text-blue-500"
                    >
                      Terms
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a
              href="#"
              class="twcss-block twcss-py-2 twcss-px-3 twcss-text-gray-900 twcss-border-b twcss-border-gray-100 hover:twcss-bg-gray-50 md:hover:twcss-bg-transparent md:twcss-border-0 md:hover:twcss-text-blue-600 md:twcss-p-0 dark:twcss-text-white md:dark:hover:twcss-text-blue-500 dark:hover:twcss-bg-gray-700 dark:hover:twcss-text-blue-500 md:dark:hover:twcss-bg-transparent dark:twcss-border-gray-700"
              >Team</a
            >
          </li>
          <li>
            <a
              href="#"
              class="twcss-block twcss-py-2 twcss-px-3 twcss-text-gray-900 twcss-border-b twcss-border-gray-100 hover:twcss-bg-gray-50 md:hover:twcss-bg-transparent md:twcss-border-0 md:hover:twcss-text-blue-600 md:twcss-p-0 dark:twcss-text-white md:dark:hover:twcss-text-blue-500 dark:hover:twcss-bg-gray-700 dark:hover:twcss-text-blue-500 md:dark:hover:twcss-bg-transparent dark:twcss-border-gray-700"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endcomment %}
