<div class='twcss-flex twcss-gap-4 twcss-p-4'>
  <button
    type='button'
    class='twcss-text-white twcss-bg-blue-700 hover:twcss-bg-blue-800 focus:twcss-ring-4 focus:twcss-ring-blue-300 twcss-font-medium twcss-rounded-lg twcss-text-sm twcss-px-5 twcss-py-2.5 dark:twcss-bg-blue-600 hover:dark:twcss-bg-blue-700 focus:twcss-outline-none focus:twcss-dark:ring-blue-800'
  >
    {{ section.settings.label }}
  </button>
  <button
    type='button'
    class='twcss-py-2.5 twcss-px-5 twcss-text-sm twcss-font-medium twcss-text-gray-900 focus:twcss-outline-none twcss-bg-white twcss-rounded-lg twcss-border twcss-border-gray-200 hover:twcss-bg-gray-100 hover:twcss-text-blue-700 focus:twcss-z-10 focus:twcss-ring-4 focus:twcss-ring-gray-200 focus:twcss-dark:ring-gray-700 dark:twcss-bg-gray-800 dark:twcss-text-gray-400 dark:twcss-border-gray-600 hover:dark:twcss-text-white hover:dark:twcss-bg-gray-700'
  >
    {{ section.settings.label }}
  </button>
  <button
    type='button'
    class='twcss-text-white twcss-bg-gray-800 hover:twcss-bg-gray-900 focus:twcss-outline-none focus:twcss-ring-4 focus:twcss-ring-gray-300 twcss-font-medium twcss-rounded-lg twcss-text-sm twcss-px-5 twcss-py-2.5 dark:twcss-bg-gray-800 hover:dark:twcss-bg-gray-700 focus:twcss-dark:ring-gray-700 dark:twcss-border-gray-700'
  >
    {{ section.settings.label }}
  </button>
  <button
    type='button'
    class='twcss-text-gray-900 twcss-bg-white twcss-border twcss-border-gray-300 focus:twcss-outline-none hover:twcss-bg-gray-100 focus:twcss-ring-4 focus:twcss-ring-gray-200 twcss-font-medium twcss-rounded-lg twcss-text-sm twcss-px-5 twcss-py-2.5 dark:twcss-bg-gray-800 dark:twcss-text-white dark:twcss-border-gray-600 hover:dark:twcss-bg-gray-700 hover:dark:twcss-border-gray-600 focus:twcss-dark:ring-gray-700'
  >
    {{ section.settings.label }}
  </button>
  <button
    type='button'
    class='focus:twcss-outline-none twcss-text-white twcss-bg-green-700 hover:twcss-bg-green-800 focus:twcss-ring-4 focus:twcss-ring-green-300 twcss-font-medium twcss-rounded-lg twcss-text-sm twcss-px-5 twcss-py-2.5 dark:twcss-bg-green-600 hover:dark:twcss-bg-green-700 focus:twcss-dark:ring-green-800'
  >
    {{ section.settings.label }}
  </button>
  <button
    type='button'
    class='focus:twcss-outline-none twcss-text-white twcss-bg-red-700 hover:twcss-bg-red-800 focus:twcss-ring-4 focus:twcss-ring-red-300 twcss-font-medium twcss-rounded-lg twcss-text-sm twcss-px-5 twcss-py-2.5 dark:twcss-bg-red-600 hover:dark:twcss-bg-red-700 focus:twcss-dark:ring-red-900'
  >
    {{ section.settings.label }}
  </button>
  <button
    type='button'
    class='focus:twcss-outline-none twcss-text-white twcss-bg-yellow-400 hover:twcss-bg-yellow-500 focus:twcss-ring-4 focus:twcss-ring-yellow-300 twcss-font-medium twcss-rounded-lg twcss-text-sm twcss-px-5 twcss-py-2.5 focus:twcss-dark:ring-yellow-900'
  >
    {{ section.settings.label }}
  </button>
  <button
    type='button'
    class='focus:twcss-outline-none twcss-text-white twcss-bg-purple-700 hover:twcss-bg-purple-800 focus:twcss-ring-4 focus:twcss-ring-purple-300 twcss-font-medium twcss-rounded-lg twcss-text-sm twcss-px-5 twcss-py-2.5 dark:twcss-bg-purple-600 hover:dark:twcss-bg-purple-700 focus:twcss-dark:ring-purple-900'
  >
    {{ section.settings.label }}
  </button>
</div>
